{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ movement.application }}</h5>
		</div>
		<div class="card-body">
			<table>
				<tr>
					<td><p><strong>{% trans "datem" %}</strong>:</p></td>
					<td><p>{{ movement.datem | date:"d.m.Y H:i"}}</p></td>
				</tr>
				<tr>
					<td><p><strong>{% trans "status" %}</strong></p></td>
					<td><p>{{ movement.status }}</p></td>
				</tr>
				<tr>
					<td><p><strong>{% trans "details" %}</strong></p></td>
					<td><p>{{ movement.details }}</p></td>
				</tr>
			</table>
		</div>
		<div class="card-footer">				
		</div>
	</div>
	<div class="row justify-content-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'movement_index' application_id  %}">{% trans "Back" %}</a>      	
	</div>
</div>
{% endblock content %}