{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "drivers" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "drivers" %}</h2>
<p><a href="{% url 'driver_create'%}">{% trans "Add" %}</a></p>
<hr>
{% if driver.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th>
					<p>{% trans "full_name" %}</p>
				</th>
				<th>
					<p>{% trans "birthday" %}</p>
				</th>
				<th>
					<p>{% trans "phone" %}</p>
				</th>
				<th>
					<p>{% trans "category" %}</p>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for p in driver %}
			<tr>
				<td>
					<p>{{ p.full_name }}</p>	
					<p>
						<a href="{% url 'driver_edit' p.id %}">{% trans "Change" %}</a> |
						<a href="{% url 'driver_read' p.id %}">{% trans "View" %}</a> |
						<a onclick="return confirm('Удалить запись?')" href="{% url 'driver_delete' p.id %}">{% trans "Delete" %}</a>
					</p>					
				</td>
				<td>
					<p>{{ p.birthday | date:"d.m.Y" }}</p>					
				</td>
				<td>
					<p>{{ p.phone }}</p>
				</td>
				<td>
					<p>{{ p.category }}</p>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<a href="{% url 'driver_create'%}">{% trans "Add" %}</a>
{% endif %}
{% endblock content %}

