{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block content %}
<h2>{% trans "automobile" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
			<h5>{{ automobile.replica }}</h6>		
		</div>
		<div class="card-body">
			<h4>{{ automobile.reg_number }}</h4>			
			<p><strong>{% trans "yr" %}: </strong>{{ automobile.yr }}</p>	
		</div>
		<div class="card-footer">	
			<p><strong>{% trans "driver" %}: </strong>{{ automobile.driver }}</p>		
		</div>		
	</div>
	<br>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'automobile_index' %}">{% trans "Back" %}</a> 	
	</div>	
</div>
{% endblock content %}