{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "applications" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "applications" %}</h2>
<br>
{% if application.count > 0 %}
<table id="myTable" class="table-manager" style="width:100%">
	<thead>
		<tr>
			<th><p>{% trans "datea" %}</p></th>
			<th><p>{% trans "user" %}</p></th>
			<th><p>{% trans "title" %}</p></th>
			<th><p>{% trans "movement" %}</p></th>
		</tr>
	</thead>
	<tbody>
		{% for n in application %}
		<tr>
			<td>
				<p>{{ n.datea | date:"d.m.Y H:i"}}</p>	
			</td>
			<td>
				<p>{{ n.user }} ({{ n.user.email }})</p>	
				<p>{{ n.user.first_name }} {{ n.user.last_name }}</p>			
			</td>
			<td>
				<p>{{ n.title }}</p>	
				<p>
					<!--<a href="{% url 'application_edit' n.id %}">{% trans "Change" %}</a> -->
					<a style="width:120px; margin: 2px;"  href="{% url 'application_read' n.id %}">{% trans "View" %}</a> 
					<a style="width:120px; margin: 2px;" onclick="return confirm('Удалить запись?')" href="{% url 'application_delete' n.id %}">{% trans "Delete" %}</a>
				</p>
			</td>
			<td>
				<p><a href="{% url 'movement_index' n.id%}">{% trans "movements" %}</a></p>		
			</td>				
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock content %}

