{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block content %}
<h2>{% trans "replica" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
			<h5>{{ replica.manufacturer }}</h5>		
			<h6>{{ replica.kind }}</h6>		
		</div>
		<div class="card-body">
			<h4>{{ replica.title }}</h4>			
		</div>
		<div class="card-footer">	
			<p><strong>{% trans "capacity" %}: </strong>{{ replica.capacity }}</p>		
		</div>		
	</div>
	<br>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'replica_index' %}">{% trans "Back" %}</a> 	
	</div>	
</div>
{% endblock content %}